---
layout: page
description: "2856 Tesseract"
header-img: "img/home-bg.jpg"
---
<h1>2016-2017 Velocity Vortex Reveal Video</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9hUe2Bob2_8?rel=0" frameborder="0" allowfullscreen></iframe>


<h1>Sponsors</h1>
<a href="sponsors">
<img src="{{ site.baseurl }}/img/logos.png" alt="Isaac Zinda" width="100%">
</a>

<!-- 
<h1>Daily Notebook Posts</h1>
<hr>
-->


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}

    </a>

    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

{% endfor %}
